body {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 16px;
}

a {
    color: #000
}
a:hover {
    color: rgb(42, 42, 42);
    text-decoration: none;
}
aside {
    background: #211033;
    color: #fff;
    height: 100%;
    min-height: 100vh;
    overflow-x: visible;
    max-height: 100%;
    max-width:340px
}

.logo {
    margin: 10px auto;
    border: 0;
    display: block
}

.logo img {
    width: 100%;
    max-width: 319px
}

aside .dropdown-item,
aside .nav-link {
    color: #fff;
    cursor: pointer;
    position: relative;
    font-size: 17px;
}

aside .nav-link:hover {
    color: #e100ff
}

aside .nav-item {
    border-bottom: 1px solid #66106F;
    padding: 10px 0
}

aside .dropdown-menu {
    width: 200px;
    left: 90% !important;
    z-index: 10;
    box-shadow: rgba(255, 255, 255, .5);
    background: #211033;
    color: #fff;
    border: 1px solid #66106F
}

aside .dropdown-item {
    border-bottom: 1px solid #66106F
}

aside .dropdown-item:last-child {
    border: none
}

aside .dropdown-item:hover {
    background-color: #ecd7ee
}

aside .dropdown-toggle::after {
    border: none !important;
    font: 14px/1 bootstrap-icons;
    content: '\F285' !important;
    vertical-align: 0;
    position: absolute;
    right: 10px
}

aside li.menu-item.show a.dropdown-toggle::after {
    content: "\F282" !important
}

.wrap {
    margin-top: 1.5%;
    max-width: 1400px;
   
}

.pageTitle {
    color: #DB8D2E;
    font-size: 33px;
}

.search-container {
    position: relative;
    height: 50px;
    
    vertical-align: bottom;
    float: right;
   
   
}
.search-container  form{
    width: 50px; 
    float: right;
}

.searchbutton {
    position: absolute;
    font-size: 17px;
    /* width: 100%; */
    margin: 0;
    padding: 10px 15px;
    text-align: center;
    color: #DB8D2E;
    cursor: pointer;border: 1px solid #ccc; border-radius: 10px

}

.search:focus+.searchbutton {
    transition-duration: .4s;
    -moz-transition-duration: .4s;
    -webkit-transition-duration: .4s;
    -o-transition-duration: .4s;
    color: #000
}

.search {
    position: absolute;
    left: 49px;
    background-color: #fff;
    outline: 0;
    border: none;
    padding: 0;
    width: 0;
    height: 100%;
    z-index: 10;
    transition-duration: .4s;
    -moz-transition-duration: .4s;
    -webkit-transition-duration: .4s;
    -o-transition-duration: .4s;
    box-sizing: border-box
}

.search:focus {
    width: 363px;
    padding: 10px;
    border: 1px solid #ccc
}

.expandright {
    left: auto;
    right: 49px
}

.dateSelect {
    position: relative;
    padding-top: 5px
}

.dateSelect i {
    position: absolute;
    left: 0;
    top: 12px;
    display: block;
    z-index: 10
}

.dateSelect input {
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
    padding-left: 30px
}

.dateSelect input[type=date]::-webkit-calendar-picker-indicator {
    background: 0 0;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto
}

.timeSelect {
    height: 50px;
    display: block;
    font-size: 18px;
    font-weight: 400;
    padding: 10px
}

.timeSelect i {
    margin-right: 10px
}

.timeSelect a {
    color: #000
}

.mainWrap {
    height: calc(100vh - 150px)
}

.card-group {
    margin-bottom: 2%
}

.card {
    width: 15%;
    margin: 2%;
    border-radius: 20px !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2)
}

.card:first-child {
    margin-left: 0
}

.card:last-child {
    margin-right: 0
}

.card .icon {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center
}
.card h6{
    font-size: 16px;
}
.card1 {
    background: linear-gradient(#e7f1f7, #fff);
    border: 1px solid #54C1FB;
    box-shadow: 0 0 5px #54C1FB
}

.card2, .card2-dropdown {
    background: linear-gradient(#e2f4ee, #fff);
    border: 1px solid #11CE8C;
    box-shadow: 0 0 5px #11CE8C
}

.card3 {
    background: linear-gradient(#f8ece8, #fff);
    border: 1px solid #FF8057;
    box-shadow: 0 0 5px #FF8057
}

.card4 {
    background: linear-gradient(#eaebf8, #fff);
    border: 1px solid #6D71F9;
    box-shadow: 0 0 5px #6D71F9
}

.card5, .card5-dropdown {
    background: linear-gradient(#f7e6e7, #fff);
    border: 1px solid #FF505A;
    box-shadow: 0 0 5px #FF505A
}
.card2-dropdown, .card5-dropdown{
    width: 100%;
}
.card1 .icon {
    background: #54c1fb
}

.card2 .icon {
    background: #11ce8c
}

.card3 .icon {
    background: #ff8057
}

.card4 .icon {
    background: #6d71f9
}

.card5 .icon {
    background: #ff505a
}

.card .count {
    font-weight: 700;
    color: #857D8E
}

.card .count span {
    font-size: 25px;
    color: #2c2c2c
}

.leavBlk {
    margin: 0;
    padding: 0;
    list-style: none
}

.leavBlk h6 {
    padding-bottom: 0;
    margin-bottom: 0
}

.mainContent.container-fluid {
    padding: 0
}

.mainContent .card {
    display: block;
    width: 100%;
    min-height: 300px;
    padding: 20px 0;
    font-size: 15px
}

.mainContent .card .card-title {
    border-bottom: 1px solid #D0D0D0;
    padding-bottom: 10px
}

.mainContent .leftBlk .card .card-title {
    padding-left: 20px
}

.mainContent .rightBlk .card .card-title {
    text-align: center;
    margin-bottom: 0
}

.mainContent .leftBlk ul {
    margin: 0;
    padding: 0 20px;
    list-style: none
}

.mainContent .leftBlk li {
    border-bottom: 1px solid #D0D0D0;
    padding: 10px 0;
    font-size: 13px;
    display: block;
    clear: both
}

.mainContent .leftBlk li:last-child {
    border: none;
    padding-bottom: 0
}

.mainContent .leftBlk .details {
    display: inline-block;
    width: 65%;
    vertical-align: top;
    margin-left: 2%
}

.mainContent .leftBlk .proLogo {
    display: inline-block;
    border: 1px solid #D0D0D0;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    vertical-align: top;
    width: 205px
}

.mainContent .rightBlk .holdayDes {
    position: relative;
    padding-right: 30px
}

.mainContent .rightBlk .holdayDes .flag {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 25px;
    height: 25px
}
@media (min-width: 1240px) and (max-width:1440px){
    .wrap {
max-width: 1110px;
    }
    .card h6{
        font-size: 14px;
    }
    .card .count span{
        font-size: 16px;
    }
}
@media (max-width: 1240px) {
    aside{
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    .wrap {
max-width: 100%;
    }
}